@import "variables.scss";
@import "reset.scss";
@import "buttons.scss";
@import "header.scss";
@import "footer.scss";
@import "login.scss";
@import "productdetail.scss";
@import "politicaprivacidade.scss";

body {
  background-color: $bg;
  font-family: $body-font;
  font-weight: $regular;
  font-size: $small;
}

h1 {
  padding: 20px 0 40px;
}

h2,
h3,
h4,
h5 {
  padding: 20px 0;
}

//utilities
.title-primary {
  font-family: $heading-font;
  font-weight: $semibold;
  font-size: $big;
  text-transform: uppercase;
  color: $brand;
}
.title-secondary {
  font-family: $heading-font;
  font-weight: $semibold;
  font-size: $medium;
  text-transform: uppercase;
}
.subtitle {
  font-family: $heading-font;
  font-weight: $regular;
  font-size: $medium;
}
.container {
  margin: 0 100px;
}
.padding-100 {
  padding: 100px 0;
}
.padding-bottom-20 {
  padding-bottom: 20px;
}
.padding-top-20 {
  padding-top: 20px;
}

/*display-flex*/
.row {
  display: flex;
  flex-wrap: wrap;
}

/*display-flex*/
.row {
  display: flex;
  flex-wrap: wrap;
}
/* oucpar as 12 colunas */
.col-12 {
  width: 100%;
}
/* oucpar 6 colunas (2cards) */
.col-6 {
  width: 50%;
}
/* oucpar 4 colunas (3cards) */
.col-4 {
  width: 33.33%;
}
/* oucpar 3 colunas (4cards)*/
.col-3 {
  width: 25%;
}

//HERO
.hero-img {
  background-image: url("/assets/img/mgranel-1.jpeg");
  background-color: $bg;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  position: relative;
  height: 750px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-30%, -50%);
  font-family: $heading-font;
  font-size: $big;
  color: $bg;
  text-transform: uppercase;
}

//NEW PRODUCTS
.newproduct {
  padding-left: 100px;
}
.items {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s;
  will-change: transform;
  position: relative;
}
.item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  .thumbnail {
    max-width: 250px;
  }
}

//PODCAST&WORKSHOP
.pic-card {
  padding: 20px;
  img {
    width: 100%;
  }
  @media screen and (min-width: $breakpoint-mobile) {
    width: 100%;
    @media screen and (min-width: $breakpoint-desktop) {
      width: 25%;
    }
  }
}
.pw-title {
  text-align: center;
  align-self: center;
  color: $brand;

  span {
    font-family: $body-font;
    font-size: $small;
    display: block;
  }
}
